body {
    background-color:rgb(163, 181, 240);
    width: 100vh;
    height: 100wh;
}

@font-face {
    font-family: junicode;
    src: url(Junicode-ItalicCondensed.ttf);
  }


a {
    color: #2c3254;
    text-decoration:none;
    cursor:pointer;
    font-family: junicode;
    font-size: 16pt;
}

a:hover {
    color:#ffebcd;
}

.box {
    width: 200px;
    height: 200px;

    /* background-color:whitesmoke; */
    /* padding: 10px; */
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: leftx;
}

p {
    color: rgb(44, 50, 83);
    text-decoration:none;
    cursor:pointer;
    font-family: junicode;
    font-size: 16pt; 
}