body {
    background-color:#a3b5f0;
   
}

@font-face {
    font-family: garamond;
    src: url(EBGaramond08-Regular.ttf);
  }


a {
    color: #2c3254;
    text-decoration:none;
    cursor:pointer;
    font-family: garamond;
    font-size: 12pt;
}

a:hover {
    color:#ffebcd;
}

.box {
    width: 200px;
    height: 200px;

    /* background-color:whitesmoke; */
    /* padding: 10px; */
    position: absolute;
    top: 20%;
    left: 12%;
    transform: translate(-50%, -50%);
    text-align: leftx;
}

p {
    color: rgb(44, 50, 83);
    text-decoration:none;
    cursor:pointer;
    font-family: garamond;
    font-size: 12pt; 
}

.small {
    font-size: 10pt;
}
