body {
    background-color: rgba(155, 200, 40, 1);
    margin: 20px;
    font-size: 20px;
}

p {
    color: white;
    background-color: rgba(255, 238, 0, 0.5);
    padding: 30px;
    margin: 30px;
}

li {
    color:blueviolet;
}

ol {
    background-color: aquamarine;
}

.introduction {
    background-color: darkolivegreen;
    border: 60px dotted lightblue;
}

