* {
    /* box-sizing: border-box; */
}


.content-box {
    background-color: lightblue; 
    width: 300px;
    height:300px;
    padding: 50px;
    border: 20px solid;
    margin: 20px;
}

.border-box {
    background-color:lightgreen;
    width: 300px;
    height:300px;
    padding: 50px;
    border: 20px solid;
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.inline {
    background-color: lightcoral;
    width: 60px;
    height: 60px;
    padding: 20px;
    border:1px solid;
    margin: 20px;
    display: inline-block;
}