* {
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    height: 400px;

    /* align-items: center; */
    align-content: center;

    gap: 10px 40px;
}

.item {
    background-color: bisque;
    padding: 10px;
    border: 1px solid;
    
    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.special {
    background-color: chartreuse;
    order: -1;
}