* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0;
}

.container {
    background-color: rgb(43, 47, 43);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google {
    color: rgb(232, 182, 220);
    text-align: center;
    font-family: 'Forum', serif;
    font-size: 8pt;
    
}

.new-google {
    font-family: 'Zeyada', cursive;
    font-size: 12pt;
}