* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    background-color:#b6cbed;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: background-color .3s;
}

.container.dark {
    background-color: #1f2a3d;
}

.title {
    /* background-color: lightsalmon; */
    width: 1100px;
    height: 60px;
    text-align: center;

    display: flex;
    gap: 10px;    
    /* border: 1px solid black; */
}

.reset {
    height: 100%;
    width: 25%;
    background-color: peachpuff;
    border: solid 1px black;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color .3s;

}

.reset.dark {
    background-color:#426059;
}

.reset:visited {
    color: black;
}

.reset:hover {
    background-color: lightgoldenrodyellow;
}

.reset:hover.dark {
    background-color: #2f3c51;
}

.header {
    height: 100%;
    width: 75%;
    background-color:peachpuff;
    border: solid 1px black;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
}

.header.dark {
    background-color: #426059;
}

.console {
    /* background-color: lightcyan; */
    width: 1100px;
    height: 600px;

    display: flex;
    gap: 10px;
    z-index: 1;
}

.column-1 {
    background-color: lightgoldenrodyellow;
    width: 25%;
    height: 100%;

    border: 1px solid black;
    transition: background-color .3s;
}

.column-1.dark {
    background-color: #2f3c51;
}

.main-menu {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.to-destination {
    background-color:peachpuff;
    width: 93%;
    height: 18%;

    border: black 1px solid;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    transition: background-color .3s;

}

.to-destination.dark {
    background-color: #426059;
}


.dark-btn {
    background-color:peachpuff;
    width: 93%;
    height: 18%;

    border: black 1px solid;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color:black;
    transition: background-color .3s;
}

.dark-btn.dark {
    background-color: #426059;
}


.dark-btn:hover {
    background-color: lightgoldenrodyellow;
    /* transition: background-color .10s; */

}

.dark-btn:hover.dark {
    background-color: #2f3c51;
}

.to-destination:hover {
    background-color: lightgoldenrodyellow;
}

.to-destination:hover.dark {
    background-color: #2f3c51;
}

.to-destination:visited {
   color: black;
}

.column-2 {
    /* background-color: lightgrey; */
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-menu {
    background-color:lightgoldenrodyellow;
    width: 100%;
    height: 20%;

    border: solid 1px black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color .3s;
}

.button-menu.dark {
    background-color:#2f3c51;
}

.screen {
    background-color:rgb(182, 227, 182);
    width: 100%;
    height: 85%;

    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.screen.dark {
    background-color:#25342f;
}

.welcome {
    background-color: lightgoldenrodyellow;

    width: 100%;
    height: 100%;

    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.welcome.dark {
    background-color:#2f3c51;

}

/* @keyframes gradient {
    0% {
        background: radial-gradient(circle, rgba(250,250,210,1) 37%, rgba(255,218,185,1) 69%);
    }
    100% {
        background: radial-gradient(circle, rgb(72, 63, 80) 0%, rgba(31,42,61,1) 68%);
    }
} */

.sun {
    position:absolute;
    top: 233px;
    left: 726px;
    width: 100px;
    height:100px;
    background-color:lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 100%;
    /* transition: background-color 10s; */
    z-index: 8;

}

.sun.dark {
    background-color:#2f3c51;
    transition: transform 3s ease;
    transform: translateY(280px);
}

.back {
    position: absolute;
    top:50px;
    left:50px;
}


.grass {
    width: 100vw;
    height: 250px;
    position: absolute;
    /* z-index: -1; */
    /* background: linear-gradient(0deg, rgba(143,188,143,1) 19%, rgba(250,250,210,1) 97%); */
    background-color: rgb(182, 227, 182);
    bottom: 0px;
    border-top: 1px solid black;
    transition: background-color .3s;
}

.grass.dark {
    background-color: #25342f;
}

/* PASTURE STUFF */

.cow-button {
    background-color:peachpuff;
    width: 31.5%;
    height: 80%;

    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;

}

.cow-button.dark {
    background-color:#426059;
}

.cow-button:hover {
    background-color: lightgoldenrodyellow;
}

.cow-button:hover.dark {
    background-color: #2f3c51;
}

.sheep-button{
    background-color:peachpuff;
    width: 31.5%;
    height: 80%;

    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;

}

.sheep-button.dark {
    background-color: #426059;
}

.sheep-button:hover {
    background-color: #fafad2;
}

.sheep-button:hover.dark {
    background-color: #2f3c51;
}

.emu-button {
    background-color:#ffdab9;
    width: 31.5%;
    height: 80%;

    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.emu-button.dark {
    background-color: #426059;
}

.emu-button:hover {
    background-color: #fafad2;
}

.emu-button:hover.dark {
    background-color: #2f3c51;
}

.emu-snark {
    background-color:rgb(182, 227, 182);
    width: 31.5%;
    height: 80%;

    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    transition: background-color .3s;
}

.emu-snark.dark {
    background-color:#25342f;
}


.original-cow {
    height: 80px;
    width: auto;
    position: absolute;
    top: 500px;
    left:600px;
}

.original-sheep {
    height: 140px;
    width: auto;
    position: absolute;
    top: 400px;
    left:1000px;
}

.emu {
    width: 180px;
    height:auto;
    opacity:0;
    transition: opacity .3s;
}

/* PUMPKIN PATCH */

.middle-pumpkin {
    width: 130px;
    height: auto;

    position: absolute;
    top: 300px;
    left: 500px;
}

.a {
    position: absolute;
    top: 480px;
    left: 1000px;
}

.b {
    position: absolute;
    top: 270px;
    left: 760px;
}

.c {
    position:absolute;
    top: 590px;
    left: 780px;
}

.small-pumpkin {
    width: 130px;
    height: auto;

    position: absolute;
    top: 500px;
    left: 800px;
}

.d {
    position: absolute;
    top: 280px;
    left: 1180px;
}

.e {
    position: absolute;
    top: 439px;
    left: 649px;
}

.f {
    position:absolute;
    top: 570px;
    left: 727px;
}

.big-pumpkin {
    width: 160px;
    height: auto;

    position: absolute;
    top: 530px;
    left: 600px;
}

.h {
    position: absolute;
    top: 379px;
    left: 842px;
}

.i {
    position: absolute;
    top: 590px;
    left: 1110px;
}

.j {
    position: absolute;
    top:  331px;
    left: 952px;
    z-index: 1;

}

.cat {
    width: 90px;
    height:auto;
    position:absolute;
    top: 371px;
    left: 989px;
    /* z-index: -1; */
}

/* CORN! */

.plant-button {
    background-color:peachpuff;
    width: 31.5%;
    height: 80%;

    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.plant-button.dark {
    background-color:#426059;
}

.plant-button:hover {
    background-color: lightgoldenrodyellow;
}

.plant-button:hover.dark {
    background-color: #2f3c51;
}

.grow-button {
    background-color:peachpuff;
    width: 31.5%;
    height: 80%;

    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.grow-button.dark {
    background-color: #426059;
}

.grow-button:hover {
    background-color: lightgoldenrodyellow;
}

.grow-button:hover.dark {
    background-color: #2f3c51;
}

.harvest-button {
    background-color:peachpuff;
    width: 31.5%;
    height: 80%;

    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.harvest-button.dark {
    background-color: #426059;
}

.harvest-button:hover {
    background-color: lightgoldenrodyellow;
}

.harvest-button:hover.dark {
    background-color: #2f3c51;
}

.seed {
    width: 200px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 800px;
    display: none;
}

.stalk {
    width: 200px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 800px;
    display: none;
}

.grown {
    width: 200px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 800px;
    display: none;
}

.z {
    position: absolute;
    top: 400px;
    left: 1000px;
}

.x {
    position:absolute;
    top: 400px;
    left: 600px;
}

.y {
    position:absolute;
    top: 280px;
    left: 700px;
}

.m {
    position:absolute;
    top: 280px;
    left: 900px;
}

.p {
    position:absolute;
    top: 280px;
    left: 500px;
}

.t {
    position:absolute;
    top: 280px;
    left: 1100px;
}

.r {
    position:absolute;
    top: 520px;
    left: 1100px;
}

.w {
    position:absolute;
    top: 520px;
    left: 500px;
}

.o {
    position:absolute;
    top: 520px;
    left: 900px;
}

.u {
    position:absolute;
    top: 520px;
    left: 700px;
}





